// helpers
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// app code
.calculator {
	max-width: 450px;
	margin: 40px auto;
	box-sizing: border-box;
	font-size: 50px;
}

.screen {
	border: 1px solid gainsboro;
	width: 100%;
	line-height: 90px;
	height: 90px;
	padding: 0 20px;
	text-align: right;
}

.btn-wrapper {
	font-size: 0;
	margin: -8px;
	padding: 20px 0;
}

button {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 8px;
	font-size: 30px;
}

p {
  text-align: center;
  font-size: 24px;
}
